@page "/"

@inject RetailAI.Dashboard.Services.DashboardService DashboardService

<h1>AI Native Architecture Dashboard</h1>

<hr />

<h4>Ask AI</h4>

<textarea class="form-control"
          rows="4"
              @bind="message">
</textarea>

    <br />

    <button class="btn btn-primary"
            @onclick="Send">
        Submit
    </button>

    <hr />

    <h4>Response</h4>

    <div class="card p-3">

        @response

    </div>

@code
{
    private string message = "";

    private string response = "";

    private async Task Send()
    {
        response =
            await DashboardService.SendMessage(
                message);
    }
}