<div class="card p-3 m-2">

<h4>@AgentName</h4>

<p>@Status</p>

<p>@Response</p>

</div>

@code{

[Parameter]
public string AgentName {get;set;}

[Parameter]
public string Status {get;set;}

[Parameter]
public string Response {get;set;}

}